___

<a href='https://aims-senegal.org/'> <img src='aims-senegal.jpeg' /></a>
___
# Python Bootcamp
## Functions

* Data types (Recall)
    * Strings
    * Lists
    * Dictionaries
    * Tuples 
    * Sets
* Functions

In [ ]:
def d (**kwargs):
  for i in kwargs:
    print(i)
d(a=1,b=2)

a
b

In [ ]:
d = ("asdf",)
type(d)

tuple

# New Section

# String
In this section we will learn about the following:

    1.) Creating Strings
    2.) String Indexing and Slicing
    3.) String Properties
    4.) String Methods
    5.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
# Single quotes
'hello'

'hello'

In [ ]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: ignored

In [ ]:
"I'm using single quotes, but this will create an error"

"I'm using single quotes, but this will create an error"

In [ ]:
' I\'m using single quotes, but this will create an error'

" I'm using single quotes, but this will create an error"

## String Indexing

In [ ]:
# Assign s as a string
s = 'Hello World'

Indexing

In [ ]:
# Show first element (in this case a letter)
s[0]

'H'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [ ]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [ ]:
# Grab everything, but go in steps size of 2
s[::3]

'HlWl'

In [ ]:
# We can use this to print a string backwards
s[-1::-1]

'dlroW olleH'

In [ ]:
s[::-1]

'dlroW olleH'

## String Properties
Important property known as *immutability*.

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'n about the following

TypeError: ignored

## Basic Built-in String methods

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [ ]:
s

'Hello World'

In [ ]:
# Upper Case a string
s.upper()

'HELLO WORLD'

In [ ]:
s.lower()

'hello world'

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements.

In [ ]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [ ]:
name = 'Jojo'
age = 20

In [ ]:
print("{} is {} old.".format(name, age))

Jojo is 20 old.

In [ ]:
print(f"{name} is {age} old.")

Jojo is 20 old.

# Lists
In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

Lists can actually hold different object types

In [ ]:
my_list = ['A string',23,100.232,'o']

### Indexing and Slicing
Indexing and slicing work just like in strings.

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
my_list[2]

'three'

## Basic List Methods

In [ ]:
# Create a new list
list1 = [1,2,3]

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
c = 90
my_list.append(c)
my_list

['one', 'two', 'three', 4, 5, 90]

### Application:
Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1
[0]*3

[0, 0, 0]

In [ ]:
# Method 2
L = [0, 0, 0]
L

[0, 0, 0]

In [ ]:
[0 for x in range(3)]

[0, 0, 0]

In [ ]:
l = [0 for i in range(5)]
l

[0, 0, 0, 0, 0]

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists.

In [ ]:
[x for x in sequence]

In [ ]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [x[0] for x in matrix]

In [ ]:
first_col

[1, 4, 7]

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods
    
So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

In [ ]:
d = {}

In [ ]:
d2 = dict()

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new empty dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
d['answer'] = 42

In [ ]:
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:
# Print the value
d['key1']['nestkey']['subnestkey']

'value'

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [ ]:
for k, v in d.items():
  print(f'key: {k} and value:{v}')

key: key1 and value:1
key: key2 and value:2
key: key3 and value:3

#### Applications

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
# Grab 'hello'
d['k1'][0]['nest_key'][1][0]

'hello'

In [ ]:
# This will be hard and annoying!
d = {'k1':[1, 2, {'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed.

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples


## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [ ]:
# Create a tuple
t = (1,2,3)

In [ ]:
# Show
t

(1, 2, 3)

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [ ]:
# Use indexing just like we did in lists
t[0]

'one'

In [ ]:
# Slicing just like a list
t[-1]

2

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Basic Tuple Methods

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

0

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

1

## Immutability

In [ ]:
t[0]= 'change'

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [ ]:
t.append('nope')

# Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function.

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(1)

In [ ]:
# Show
x

{1}

In [ ]:
# Add a different element
x.add(2)

In [ ]:
# Show
x

{1, 2}

In [ ]:
x.add(1)

In [ ]:
#  Show
x

{1, 2}

We can cast a list with multiple repeat elements to a set to get the unique elements

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# Functions

## def Statements

Let's see how to build out a function's syntax in Python. It has the following form:

In [ ]:
def name_of_function(arg1,arg2, ...):
    '''
    This is where the function's Document String (docstring) goes
    '''
    # Do stuff here
    # Return desired result

### Example 1: A simple print 'hello' function

In [ ]:
def say_hello(): print('hello')

Call the function:

In [ ]:
say_hello()

hello

## Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 2: Addition function

In [ ]:
def add_num(num1,num2):
    return num1+num2

In [ ]:
add_num(4, 5)

9

In [ ]:
add_num(3.5, 6.9)

10.4

In [ ]:
add_num('Boss', 'Big')

'BossBig'

In [ ]:
add_num([1, 3], [3, 4])

[1, 3, 3, 4]

In [ ]:
# Can also save as variable due to return
result = add_num(4,5)

In [ ]:
print(result)

9

In [ ]:
#kwargs
def add_num(num1,num2, k='key'):
    pass

In [ ]:
def sum2(*args):
  return sum(args)

In [ ]:
sum2(2, 3)

5

In [ ]:
sum2(2,3,4,5)

14

### Applications:

## Lambda expressions

lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

In [ ]:
def square(num):
    result = num**2
    return result

In [ ]:
square(2)

4

We could simplify it:

In [ ]:
def square(num):
    return num**2

In [ ]:
square(2)

4

We could actually even write this all on one line.

In [ ]:
def square(num): return num**2

In [ ]:
square(2)

4

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [ ]:
lambda num: num ** 2

In [ ]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [ ]:
square(2)

4

In [ ]:
None