## Exercise A

1. Create a string containing a single quote.
2. Create a string containing a double quote.
3. Create a string containing both a single quote a double quote.
4. Create a variable containing a first and last name and print them in reverse order with a space between them.

In [53]:
# Your Code here
string1 = " '"
string2 = ' " '
string3 = '"\''

full_name = "Lawrence Moruye"
first_name,last_name =full_name.split(" ")
print('{1} {0}'.format(first_name,last_name) )

Moruye Lawrence

In [18]:
print(string3)

"'

## Exercise B

1. Write a code to display the first and last word from the following String: **'This is my first assignment for week1'**
2. Create a string ( providing the string represents a whole number), then obtain its integer representation.
3. Given these strings:

    s1 = 'abcd', 
    s2 = 'efgh'

    Create a new string composed of the first string followed by (concatenated with)
    the second.

4. Create a single string containing 5 copies of the string 'abc'.
5. Use the multiplication operator to create a "line" of 50 dashes.
6. Strip all the whitespace characters off the right end of a string.
7. Convert a string to all upper case.
8. Write a sequence (string) of comma-separated numbers and generate a list with those numbers.
9. Given a string of odd length greater than 7, return a string made of the middle three characters of the string.
10. Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string.
11. Given a string, return True if the first character and the last character of a the string is the same.

In [48]:
# Your Code here
#quiz 1
sent = "'This is my first assignment for week1'"
print(sent.split()[0])
print(sent.split()[-1])


#quiz2
dummy_str ="4"
print(int(dummy_str))

#quiz 3
s1 = 'abcd'
s2 = 'efgh'
s1_s2 = s1 + s2 
print(s1_s2)

#quiz 4
str_5_copies = "abc" *5
print(str_5_copies)

#quiz5
line_50 = "-" *50
print(line_50)

#quiz 6
strn = "Lawrence "
print(strn.rstrip())

#quuiz 7
strin_lower ="lawrence"
print(strin_lower.upper())

#quiz8
string_seq ="4,4,5,6,7,8,9,0"
print(string_seq.split(","))

#quiz 9
def middle3(string_):
  middle = len(string_)//2
  print(string_[middle-1:middle+2])
message ="thisisadumm"
middle3(message)

#question 10
def string_num(string_,n):
  return string_[n+1:]
string_num('myname',3)

#quiz 11
def checkfirst_last(string_):
  if string_[0] == string_[-1]:
    return True
  else:
    return False
checkfirst_last("amaq")

'This
week1'
4
abcdefgh
abcabcabcabcabc
--------------------------------------------------
Lawrence
LAWRENCE
['4', '4', '5', '6', '7', '8', '9', '0']
isa

False

## Exercise C:


1. Write a code that take an integer (n) and computes the value of n+nn+nnn.

2. Write a code that take the number of seconds, and calculate the number of minutes and seconds. For example, “130” you should print “2 minutes and 10 seconds”.
3. Write the shorthand of the expression below:

    x = 2

    y = 3

    z = 10

    x = x + 1

    y = y / 2

    z = z * (x + y)
  
4. Initialize two variables to values 9 and 2 respectively. Then: increment each variable first by value 2 (means you update those variables using shortcut). print the variables before and after after incrementing.
5. Integer divide the two variables (divide the larger value with the lower one), and assign the result to another variable called c.
Print the variable c and make sure you have the desired result

In [58]:
# Your Code Here
#number 1
def compute(n):
  print( n+n*n +n*n*n)
compute(2)


#number 2
def secs_to_mins(n):
  mins =n//60
  secs = n%60
  print('{} minutes {} seconds'.format(mins,secs))

secs_to_mins(130)

#number 3
x = 2
y = 3
z = 10

x += 1
y/= 2
z *= (x + y)

#number 4
num1 = 9
num2 = 2
print('num1 :{} num2 :{}'.format(num1,num2))
num1 +=2
num2 +=2
print('num1update :{} num2update :{}'.format(num1,num2))

#number 5
c =num1//num2
print(c)

14
2 minutes 10 seconds
num1 :9 num2 :2
num1update :11 num2update :4
2

## Exercise D
1. Given a two integer numbers print their product and  if the product is greater than 1000, then print their sum.
2. Given two literal strings (containing only digits), calculate their sum and print it as a string.
3. Write a code to calculate the sum of three given numbers, if the values are equal then print three times of their sum else print their sum.
4.  Write a code to compute the distance between the points p1 = (x1, y1) and p2 = (x2, y2), (p1 and p2 are strings). Example: p1 and p2 can be declare as p1 = '(2, 3)', p2 = '(5, 6)'. (hint: use indexing for string, casting from str to int). 
5. Given two numbers print their product if their are odd numbers, their sum if they are even and their division in any other cases.

In [ ]:
# Your Code here
# question4
# p1 = '(2, 3)'
# p2 = '(5, 6)'

In [76]:
#number 1
def sum_prod(int1,int2):
  prod =int1 *int2
  sum = int1 +int2
  if prod >1000:
    print(sum)
  else:
    print(prod)

sum_prod(4,5000)


#Number 2
def literal_string(x,y):
  x_int = int(x)
  y_int = int(y)
  sum = x_int + y_int
  print(str(sum))
literal_string('4','45')

#number 3
def sum_of_three(x,y,z):
  sum = x +y + z
  if (x==y==z):
    print(3 *sum)
  else:
    print(sum)

sum_of_three(5,2,2)

#Number 4
p1 = '(2, 3)'
p2 = '(5, 6)'
print(int(p1[1]))
import math
def eucledian(p1,p2):
  p1_x1 = int(p1[1])
  p1_y1 = int(p1[4])
  p2_x2 = int(p2[1])
  p2_y2 = int(p2[4])
  print(math.sqrt((p2_x2 -p1_x1)**2 + (p2_y2 - p1_y1)**2 ))

eucledian(p1,p2)
#Number 5
def prod_sum_div(x,y):
  sum = x + y
  prod = x*y
  div = x/y
  if x%2 ==0 and y%2==0:
    print(sum)
  elif x%2 !=0 and y%2!=0:
    print(prod)
  else:
    print(div)

prod_sum_div(3,5)

5004
49
9
2
4.242640687119285
15

2
4.242640687119285