# BootCamp1 - Day 2_LAB: Loops in Python

The next blocks of codes are some exercises innvolving conditional statements and loops. Codes won't be written in a function format. 
<b><p style="color:#FF0000"> Note that no built-in function and libraries (string ...) are allowed !!! </p>

## Exercise 1: Get the Length
<b> 
Given a string, write a code to get the length of the string: The number of characters including spaces and ponctuations. 

Ps any built-in function is not allowed.

Example:
s = 'First exercise', your code should print: The length is: 14

</b>

In [4]:
##### WRITE YOUR CODE HERE #####
s = 'First exercise'
counter =0
for x in s:
  counter +=1
print(counter)
#### END CODE ####

14

## Exercise 2: Pairwise sum
<b> 
Given two lists l1 and l2 of size 6, create a new list that contain the pairwise sum. 

Example: If we have l1 = [2, 3, 4] and l2 = [4, 5, 7], it should print l3 = [6, 8, 11]

</b>

In [18]:
##### WRITE YOUR CODE HERE #####
l1 =[2,3,4]
l2 =[4,5,7]
print(l1)
print(l2)
print([x+y for x,y in(zip(l1,l2))])
#### END CODE ####

[2, 3, 4]
[4, 5, 7]
[6, 8, 11]

## Exercise 3: Intersection of two lists
<b> 
Given two lists l1 and l2 of , print the intersection of the two lists. Lists don't contain duplicates.

Example: If we have l1 = [1, 3, 2, 4] and l2 = [3, 4, 5, 7], it should print : 3,4

</b>

In [23]:
l1 = [1,3,2,4]
l2 = [3,4,5,7]
for x in l1:
  for y in l2:
    if x==y:
      print(x,end=',')

##### WRITE YOUR CODE HERE #####




#### END CODE ####

3,4,

## Exercise 4: Palindrome
<b> Given a string s, check whether s is a palindrome. s is the palindrome if s is equal to its reverse. Ps: Use a loop, slicing operation is not allowed.</b>

In [31]:
s = 'abababa'

##### WRITE YOUR CODE HERE #####
new = ''
for i in s:
  new = i + new

print(new)
if s==new:
  print("palindrome")
else:
  print("Not palindrome")


#### END CODE ####

abababa
palindrome

## Exercise 5: Reverse a list
<b> Given a list l, reverse l.
Ex= [1,2,3,4,5] ==> [5,4,3,2,1]. In this case the operation has to be done in-place. Do not allow new memory space</b>

In [44]:
l = [1, 2, 4, 5]
for i in range(len(l),0,-1):
  print(l[i-1],end =',')

##### WRITE YOUR CODE HERE #####



 
#### END CODE ####

5,4,2,1,

## Exercise 6: Reverse an integer
<b>Given an integer n, print the reverse of n. Casting operations are not allowed.</b>

In [46]:
n = 12345


##### WRITE YOUR CODE HERE #####


reversed_num = 0

while(n!=0):
  r=int(n%10)
  reversed_num = reversed_num*10 + r
  n=int(n/10)
print(reversed)



#### END CODE ####

54321

## Exercise 7: Prime Number
<b> Given an integer n, check whether n is a prime number. A number is a prime number if it is divisible only by 1 and itself.</b> </br>

In [53]:
n = 16
k = 0
##### WRITE YOUR CODE HERE #####
for i in range(2,n):
  if (n%i==0):
    print("not prime")
    k = 1
    break
if(k == 0):
  print("primne")

  


#### END CODE ####

not prime

## Exercise 8: Two sum
<b> 
Given an integer n and a sorted list l, find two elements that sum up to n and their indexes. We can have many combinations but just output one of them.

Example: l = [1,2,3,4], n = 5 ==> combination = 1,4
</b>

In [57]:
l = [1,2,3,4,5]
n = 9
pointer1 = 0
pointer2 = len(l) - 1

while pointer1 < pointer2:
  if(l[pointer1] + l[pointer2] == n):
      print(l[pointer1],l[pointer2])
      break
  elif (l[pointer1] + l[pointer2] < n):
      pointer1 += 1

4 5

## Exercise 9: Power of Two
<b> Given an integer n, check whether n is a power of two. </b>

In [54]:
n = 25
if n==0 of n==1:
  print("not power of 2")
else:
  answer =True

  while n//2 !=0:
    if n%2 !=0:
      answer =False
      break

    n =n//2
  if answer:
    print("power of two")

  else:
    print("not power of 2")

##### WRITE YOUR CODE HERE #####



#### END CODE ####

not power of 2