# Data-Structures

# Content

* Abstract data types
* Data Structures
* Classes and Objects - Brief Introduction
* Builtin Data structures
  * Lists
  * tuples
  * Sets
  * Dictionaries
* Implementing data structures
  * Queues
  * Stacks
  * Linked Lists
* Immutable vs Mutable
* Space Time Complexity analysis

## Abstruct data type(ADT)
* A logical definition of data type as a theoretical model
* Specification of possible types data, possible operations on the data, and the behavior of those operations
* ADT is implementation independent i.e the same ADT will have different types of Implementations


E.g Stack ADT, list ADT, Queue ADT, Priority Queue ADT, etc.


## Data structures
* Are concrete/practical implementation of ADTs

E.g Python lists, python deque implementation of queue, etc.

## Brief Introduction to Classes and Objects

### Classes

* Are prototype/blueprint of objects
* Defines attributes and methods of objects
* State of the object is represented by the attributes
* Behaviour of the objects is defined by the methods

### Class Definition syntax

In [1]:
class AnimalClass1:
  pass
class AnimalClass2:
  name = "Cat"
class AnimalClass3:
  def __init__(self, name):
    self.name = name
class AnimalClass4:
  def __init__(self, name, sound):
    self.name = name
    self.sound = sound
  def make_sound(self):
    print(self.sound)



### Objects

* Are instances of the object
* Classes define the type of the objects and objects are realization of those classes
* The same class can be used to creat different objects,

#### Syntax to create an object

In [2]:
animal = AnimalClass4("Cat", "Meow")
animal.make_sound()

Meow

### Python's builtin Data structures
### Lists
* Python's builtin Implementation of List ADT
* Are ordered collection of items
* Dynamic size
* Mutable
* More materials on lists
  * [Lists and Tuples in Python](https://realpython.com/python-lists-tuples/)
* More on implemenatation of lists in python
  * [Python list implementation](https://www.laurentluce.com/posts/python-list-implementation/)
  * [How are lists implemented in CPython?](https://docs.python.org/3/faq/design.html#id20)
* Are indexable(Python uses zero based indices) 
* Time complexity
  * Accessing item by indexing
  * Checking existance of item 
  * Adding item to the end
  * Adding item at arbitrary place

In [3]:
list_1 = list() # Creating empty list
list_2 = [10, 20, 30, 40] # Anthor way to create list
print("The first element of list_2 is", list_2[0]) # accessing the first element of the list
list_1.append(10) # adding 10 to the list items. 

list_1.append(20) # adding 10 to the list items. 
list_1.append(10) # adding 10 to the list items. 
print("list_1 after append 10, 20 and 10", list_1)
list_2.remove(20)
print("list_2 after removing 20", list_2)

list_1.extend(list_2) # Adding all elements from the list_2 to list_1
print("list_1 after extending list_2")

list_3 = ["cat", "dog"]
list_4 = list_1 + list_3 # List concatenation
print("list_4", list_4)

The first element of list_2 is 10
list_1 after append 10, 20 and 10 [10, 20, 10]
list_2 after removing 20 [10, 30, 40]
list_1 after extending list_2
list_4 [10, 20, 10, 10, 30, 40, 'cat', 'dog']

In [5]:
l =[x for x in range(1,4)]
sum =0
for i in l:
  sum +=i
print(sum)

6

In [7]:
l.insert(0,7)
l

[7, 7, 1, 2, 3]

In [10]:
l.index(7)

0


<font  color="olive"> <b> Question 1</b><br/>
 Dot product of vectors
Vectors are mathematical objects that are often used to represent the inputs to neural networks. One way to view the vectors is as list of items. Complete the following code to compute dot product of two vectors. Dot product is defined the following equation:-
</font>

$$
x.y = <x, y> = x^Ty = \sum_{i}^n x_iy_i
$$

<font  color="olive"> 
Assume that only lists are passed to the function and they also contain only numeric datatype.

</font>

In [99]:
def dot_prod(vec_1, vec_2):
  """
  Computer dot product of two vectors. The vectors are list of numbers
  and have same length, i.e len(vec_1) == len(vec_2). 
  Parameters
  ----------
  vec_1 : list
    The first vector
  vec_2: list
    The second vector
  Returns
  -------
  float
    The dot product of the vec_1 and vec_2

  Examples
  --------
  >>> dot_prod([1, 2], [3, 4])
  11
  >>> dot_prod([1, 3, 4], [0, 1, 0])
  3
  """
  output = 0
  lenth =len(vec_1)
  for i  in range(lenth):
    output +=vec_1[i] * vec_2[i]

  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  return output;

In [100]:
def cal_dot_prod(vec1,vec_2):
  output =0
  for i,j in zip(vec1,vec_2):
    output +=i*j
  return output

In [101]:
cal_dot_prod([1, 2], [3, 4])

11



<font  color="olive"> <b> Question 2</b><br/>
Write a function to compute the squared norm of a vector. You can make the same assumption about vectors as in question 1.
Squared norm of a vector $\mathbf{x}$ is give by the following equation
</font>
$$
  \left|\mathbf{x}\right|^2 = \sum_i^n x_i^2
$$
<font  color="olive">
You are allowed to use the `dot_prod` function you defined above.
</font>

In [33]:
def squared_norm(vec):
  """
  Compute the squared norm of vector. 
  Parameters
  ----------
  vec : list
    The vector
  
  Returns
  -------
  float
    The squared norm of the vector

  Examples
  --------
  >>> squared_norm([1, 2])
  5
  >>> squared_norm([1, 3, 4])
  26
  """
  output1 =[x**2 for x in vec]
  output =0
  for i in output1:
    output +=i


  #output = None
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  return output;

In [42]:
squared_norm([1, 3, 4])

26

### Nested Lists
Arrays in machine learning are often in high dimensional. E.g Matrix, RGB image, Video.

Matrix can be represented list of rows and each row of the matrix is also another list. This is an example of nested list. 
```python
matrix = [
          [1, 2],
          [3, 4]
        ]
```
With nested list we can use multiple level of indexing. For example to access 3 in the above matrix we can use the following the following snipt of code.

```python
matrix[1][0]
```

Nested for loop can be used to iterate over rows and columns of each rows.

```python
for i in range(len(matrix)):
  for j in range(len(matirx[i])):
    print(matrix[i][j])
```

<font  color="olive"> <b> Question 3</b><br/>
Create a function to add two matrix defined by nested list. Assume both matrices have the same number of rows and columns.
</font>

In [168]:

def add_matrix(matrix_1, matrix_2):
  """
  Adds two matrix
  Parameters
  ----------
  matrix_1 : list
    A matrix defined by nested list 
  matrix_2 : list
    A matrix defined by nested list 
  Returns
  -------
  list
    A matrix, sum of the two matrices.

  Examples
  --------
  >>> add_matrix([[1, 2], [2, 3]], [[4, 1], [5, 0]])
  [[5, 3], [7, 3]]

  """
  dim =len(matrix_1)

  output =[[0 for i in range(dim)] for j in range(dim)]
  for i in range(len(matrix_1)):
    for j in range(len(matrix_1[i])):
      output[i][j] = matrix_1[i][j] + matrix_2[i][j]

  for m in output:
    print(m)


  
  
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  #return output;

In [169]:
add_matrix([[1, 2], [2, 3]], [[4, 1], [5, 0]])

[5, 3]
[7, 3]

In [55]:
add_matrix([[1, 2], [2, 3]], [[4, 1], [5, 0]])

[[2, 4], [4, 6]]


### tuples
* Similar to lists but with some difference
* Are ordered collection of items
* fixed size
* Immutable
* More materials on tuples
  * [Lists and Tuples in Python](https://realpython.com/python-lists-tuples/)

In [58]:

t1 = (10, 20, 30, 40) # Creating tuple
print("The first element of t1 is", t1[0]) # accessing the first element of the tuple


t2 = ("cat", "dog")
t3 = t1 + t2 # tuple concatenation
print("t3", t3)

The first element of t1 is 10
t3 (10, 20, 30, 40, 'cat', 'dog')

#### Type conversion
Lists and tuples are ordered items. Conversion from one to another is possible.

```python
l1 = [1, 2, 3]
t1 = tuple(l1) # Convert list to tuple
t2 = [2, 4, 1]
l2 = list(t2) # Conver to tuple

```

### Time complexity
  * Accessing item by indexing
  * Checking existance of item

In [ ]:
res = tuple(map(sum, zip(test_tup1, test_tup2)))

<font  color="olive"> <b> Question 4</b><br/>
Let's now use tuples to represent vectors. It would be even very convenient to use tuples than list to create vectors becuase basically vectors are fixed length. 


Create function to add to vectors. The addition of two vectors is given by the following equation.
</font>

$$
  z_i = (\mathbf{x} + \mathbf{y})_i = x_i + y_i 
$$

In [221]:
def add_vectors(vec_1, vec_2):
  """
  Computer addition of two vectors. The vectors are tuples of numbers
  and have same length, i.e len(vec_1) == len(vec_2). 
  Parameters
  ----------
  vec_1 : tuple
    The first vector
  vec_2: tuple
    The second vector
  Returns
  -------
  tuple
    The summition of the vec_1 and vec_2

  Examples
  --------
  >>> add_vectors([1, 2], [3, 4])
  [4, 6]
  >>> add_vectors([1, 3, 4], [0, 1, 0])
  [1, 4, 4]
  """
  z =[]
  for i in range(len(vec_1)):
    z.append(vec_1[i] + vec_2[i])
  output = z


  #output = None
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  return output;

In [224]:
add_vectors((1,3,4), (0,1,0))

[1, 4, 4]

In [ ]:
add_vectors([1, 2], [3, 4])

(4, 6)

In [ ]:
add_vectors([1, 3, 4], [0, 1, 0])

(1, 4, 4)

## Sets
* Are Unordered collection of items
* They are mutable
* The elements of set are unique(No duplication)
* More on Sets [here](https://realpython.com/python-sets/)

In [ ]:
s1 = set() # Creating empty sets
print("s1", s1)
s2 = set([1, 3, 4])
print("s2", s2)
s3 = {1, 3, 4} 
print("s3",s3)
s4 = set((1, 3, 4))
print("s4", s4)

s1 set()
s2 {1, 3, 4}
s3 {1, 3, 4}
s4 {1, 3, 4}

## Set operations

In [ ]:
s3.add(5)
s4.add(6)

In [ ]:
dir(s3)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
A = set([1, 2, 3, 5])
B = set([2, 3, 6, 4, 8])

In [60]:
my_setA =set([3,3,2,4])
my_setB =set([2,5,8])

In [62]:
my_setA.union(my_setB)

{2, 3, 4, 5, 8}

In [ ]:
print("A v B = {}".format(A | B)) # Union
print("A n B = {}".format(A & B)) # Intersection
print("A / B = {}".format(A - B)) # relative complement
print("B / A = {}".format(B - A)) # relative complement

A v B = {1, 2, 3, 4, 5, 6, 8}
A n B = {2, 3}
A / B = {1, 5}
B / A = {8, 4, 6}

In [ ]:
s3.difference(s4)

{5}

In [143]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### Time complexity of set operations
  * Accessing item by indexing
  * Checking existance of item 
  * Adding item

<font  color="olive"> <b> Question 5</b><br/>
Write a function to find the elements of two sets that are in only in one of the sets. Using loop is not allowed. Use only operation on set. 
</font>

In [140]:
def intersection_complement(set_a, set_b):
  """
  Find set of items that are only in one of the sets.
  Parameters
  ----------
  set_a : set
    A set with elements zero ore more
  set_b : set
    A set with elements zero ore more
  
  
  Returns
  -------
  set
    Set containing elements which are in only one of the sets

  Examples
  --------
  >>> intersection_complement({1, 2, 3}, {3, 4, 6})
  {1, 2, 4, 6}
  >>> intersection_complement(set(), {3, 4, 6})
  {3, 4, 6}
  """

  output = set_a.symmetric_difference(set_b)
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  return  output

In [133]:
#dir(set)

In [134]:
'''def intersection_complement(set_a,set_b):
  return set_a.symmetric_difference(set_b)
'''

'def intersection_complement(set_a,set_b):\n  return set_a.symmetric_difference(set_b)\n'

In [141]:
intersection_complement(set(), {3, 4, 6})

{3, 4, 6}

In [142]:
intersection_complement({1, 2, 3}, {3, 4, 6})

{1, 2, 4, 6}

## Dictionaries

* Collection of key, value pairs
* A key is unique, but value could be diplicate.
* Keys should be hashable.
* More on Dictionaries [here](https://realpython.com/python-dicts/)

In [ ]:
d1 = {} # Creating empyt dictionary
print("d1", d1)
d2 = dict() # Another way to create empty dictionary
print("d2", d2)
d3 = {"one":1, "two":2, "three":3} # Creating dictionary with elements
print("d3", d3)
d4 = dict(one=1, two=2, three=3) # The same as d3 but different intialization
print("d4", d4)
d5 = dict([("one", 1), ("two", 2), ("three", 3)]) # The same as d3 but different intialization
print("d5", d5)

d1 {}
d2 {}
d3 {'one': 1, 'two': 2, 'three': 3}
d4 {'one': 1, 'two': 2, 'three': 3}
d5 {'one': 1, 'two': 2, 'three': 3}

In [65]:
res = ["a","b","c"]
res2 = ["d","b","c"]
a =set(res)
b =set(res2)
for i in a:
  if i in b:
    print(i)

c
b

In [96]:
# Given a list return a dictionary where the keys 
# are elements of the list and the values are addition of
# two to the keys. E.g if you have [3, 5] the output 
# should be {3:5, 5:7}

In [86]:
a = [3,5,2,9]
def add_2(l):
  out = {i:i+2 for i in l}
  return out

In [94]:
a = [3,5,2,9]
def add_2_V(l):
  d ={}
  for i in l:
    d.update({i:i+2})

  return d

In [95]:
add_2_V(a)

{2: 4, 3: 5, 5: 7, 9: 11}

### Time complexity dictionaries
  * Accessing item by indexing
  * Checking existance of item 
    * Keys
    * Values
  * Adding item

<font  color="olive"> <b>Quick exercise on set builder</b><br/>
</font>

## Stacks

* Stacks are abstract datatypes. 
* Python doesn't provide stack builtin implementations
* Last In First Out ADT
* Have the following operations
  * Push: adds an element on top of the stack
  * Pop: removes an element from the top of the stack<br/>
  * empty: Checks if the stack is empty
  <b>Optionally</b>
  * Peek: To see the top elements
  * Size: Retrieves the number of elements of the stack




### Implementing stacks with list
* `append()` method of list for push operation
* `pop()` method of list for pop operation
* indexing with last index for peek operation
* list.__len__() == 0 for empty operation 
* list.__len__() for size operation

In [ ]:
stack = list()
stack.append("one") # Push operation
element = stack.pop() # Pop operation
print("element", element)
print("Is empty: ", len(stack)==0) # Empty operation
print("Size", len(stack))

Here we will create a class to represent stack. Don't worry if you don't know what class is and how to use it. All the following code will be clear, once you learn classes and object tomorrow. For know focus on the functions of the class.

In [ ]:
class Stack(object):
  def __init__(self):
    self.__stack = list()
  def push(self, element):
    self.__stack.append(element)
  def pop(self):
    if self.empty():
      raise StopIteration("Pop from empty stack!!!")
    return self.__stack.pop()
  def empty(self):
    return len(self.__stack) == 0
  def size(self):
    return len(self.__stack)

In [ ]:
stack = Stack()

In [ ]:
dir(stack)

In [ ]:
stack.push(1)
stack.push(2)
stack.push(3)
print(stack.pop())
stack.push(4)
stack.push(5)
print(stack.pop())

In [ ]:
stack.pop()

In [ ]:
stack.pop()

In [ ]:
stack.pop()

## Queues
* Similar to stack
* First In First Out(FIFO) ADT
* Python provides [deque objects](https://docs.python.org/3/library/collections.html#collections.defaultdict), to implement queue

## Linked Lists

* Another implementation of List ADT
* Each element has reference to next element(which could be for tail)
* Have two properties, head node and tail node


<img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Linked_list_data_format.jpg"/><br/>
<b>fig src:[https://upload.wikimedia.org/wikipedia/commons/b/bf/Linked_list_data_format.jpg](https://upload.wikimedia.org/wikipedia/commons/b/bf/Linked_list_data_format.jpg)</b>

We will implement Queue the same way as we implemented Stack. But here we will use deque to instead of list. Deque are more effient[O(1)] to add item to the start index compared with list which requires  O(n) time complexity to add item to the start index.

### Linked List - Node
* Each element in linked list
* Has two properties
  * Value
  * Next 

  
### Implemeneting Linked List

In [ ]:
from collections import deque
class Queue(object):
  def __init__(self):
    self.__q = deque()
  def enque(self, item):
    self.__q.append(item)
  def deque(self):
    try:
      return self.__q.popleft()
    except StopIteration as exp:
      raise StopIteration("Poping from empty queue")

## Mutable vs Immutable 
### Mutable
  * Are data structures that can be changed, after their creation
  * Since their value can be changed they are not hashable

In [145]:
s = set(["One", "Two"])
s.add("Three")
print("s:", s)
#another_set = set([1, s]) # This will not run because s is  immutable

s: {'Three', 'One', 'Two'}


### Immutable 

  * The data structures that cannot be changed once they are created.
  * They are hashable and can be used as elements of set and as keys of dictionaries

In [ ]:
t = tuple(["One", "Two"])

s = set([1, t]) # This will run because t is  immutable

## Time and Space complexity analysis

<font color="olive"> <b> Question 6</b><br/> Given an integer n write a function to retrieve the first n fibonacci sequence elements.</font>

In [187]:

def fibonacci(n):
  """
  The first n elements of fibonacci sequence.
  Parameters
  ----------
  n : int
    Number of fibonacci sequence elements to retrieve
  Returns
  -------
  list
    The first n fibonacci sequence elements
  Examples
  --------
  >>> fibonacci(1)
  [1]
  >>> fibonacci(2)
  [1, 1]
  >>> fibonacci(6)
  [1, 1, 2, 3, 5, 8]
  """
  output =[0,1]
  if n<=1:
    return output[1:]
  else:
    for i in range(2,n+1):
      output.append(output[(i-1)]+ output[(i-2)])
    

  #output = None
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  return output[1:];

In [216]:
'''
###alternative method
def fab(n):
  a,b =0,1
  if n==1:
    print([a])
  else:
    print(a)
    print(b)
    
    for i in range(2,n):
      c = a+b
      a =b
      b =c
      print(c,end='')

'''

In [217]:
fibonacci(6)

[1, 1, 2, 3, 5, 8]

In [218]:
#fab(5)

In [ ]:
fibonacci(6)

[1, 1, 2, 3, 5, 8]


<font color="olive"> <b> Question 7</b><br/>Write a function that accepts integer n as argument, it should return a dictionary with key of non-negative integers up to n and squares of the those integers as values. e.g for n == 3 the output should be {0:0, 1:1, 2:4, 3:9}</font>

In [172]:

def squares(n):
  """
  Squares of non negative integers numbers up to n
  Parameters
  ----------
  n : int
    The number which specifies the upper bound of the numbers to compute squares
  Returns
  -------
  dict
    Dictionary where the keys are numbers up to n and the values are the squares of those integers

  Examples
  --------
  >>> squares(3)
  {0:0, 1:1, 2:4, 3:9}
  >>> squares(1)
  {0:0, 1:1}
  """
  d ={}
  for i in range(n+1):
    d.update({i:i**2})
  return d;

In [174]:
squares(1)

{0: 0, 1: 1}

<font color="olive"> <b> Question 8</b><br/>Implement factorial function using recursion. Optimize the implementation for space complexity.</font>

In [230]:

def factorial(n, mem = {}):
  """
  Factorial of n with recursion.
  Parameters
  ----------
  n : int
    The number to compute factorial
  mem : dict
    The memory used to store previously computed factorial values
  Returns
  -------
  int
    The factorial of the n

  Examples
  --------
  >>> factorial(0)
  1
  >>> factorial(3)
  6
  """
  if n==0:
    return 1
  else:
    return n * factorial(n-1)
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  return output;

In [231]:
factorial(5)

120

<font  color="olive"> <b> Question 9</b><br/></font>


Here you are going to change the way python converts dictonaries to strings. In python if we have dictionary `{'one': 1, 'two': 2}`, calling the str method will convert this dictionary to `"{'one': 1, 'two': 2}"`. But we want to change this behavior.
So if have `{'one': 1, 'two': 2}` dictionary, the model should output `"{\n\t'one' => 1,\n\t'two' => 2\n}"`, so that printing the output would look like

```bash
{
	'one' => 1,
	'two' => 2
}


```

for dictionary `{1:('a', 'b'), 2:('c', 'd')}` the output should be `"{\n\t1 => ('a', 'b'),\n\t2 => ('c', 'd')\n}"`, so the printing would produce:-

```bash
{
	1 => ('a', 'b'),
	2 => ('c', 'd')
}

```

for dictionary `{1:'a', 2:'b'}` the output should be `{\n\t1 => 'a',\n\t2 => 'b'\n}`, so the printing would produce:-

```bash
{
	1 => 'a',
	2 => 'b'
}

```


<font color="olive">
Write a function called `dict_str` it should accept dictionary and should return string representation of the dictionary in the new format discussed here.
</font>

In [273]:

def dict_str(d):
  """
  New string representation for dictionaries
  Parameters
  ----------
  d : dict
    The dictionary to compute string representation
  Returns
  -------
  str
    New string reprsentation for the dictionary

  Examples
  --------
  >>> dict_str({'one': 1, 'two': 2})
  "{\n\t'one' => 1,\n\t'two' => 2\n}"
  >>> dict_str({1:('a', 'b'), 2:('c', 'd')})
  "{\n\t1 => ('a', 'b'),\n\t2 => ('c', 'd')\n}"

  """

  output = print("{\n" + "\n".join("\t{} =>{},\n".format(k, v) for k, v in d.items()) + "\n"+"}")
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  return output;

In [274]:
 dict_str({1:('a', 'b'), 2:('c', 'd')})

{
	1 =>('a', 'b'),

	2 =>('c', 'd'),

}
1 ('a', 'b')
2 ('c', 'd')

<font  color="olive"> <b> Question 10</b><br/>
Create a function to reverse a list. The function should use O(1) memory regardless of the input list size. Using `reversed` function is not allowed.</font>

In [190]:

def reverse_list(l):
  """
  Reverse a list 
  Parameters
  ----------
  l : list
    A list to reverse the order
  Returns
  -------
  list
    New list with elements in reversed order

  Examples
  --------
  >>> reverse_list([1])
  [1]
  >>> reverse_list([1, 2, 3, 4])
  [4, 3, 2, 1]

  """
  ##### WRITE YOUR CODE HERE #####
  new = []
  for i in range(len(l)-1,-1,-1):
    new.append(l[i])
  

  #### END CODE ####

  
  return new

<font  color="olive"> <b> Question 11</b><br/>
Write a function to remove duplicate elements from a list. The order might be changed. Do this exercise without using loops.

</font>

In [191]:
reverse_list([1,2,3])

[3, 2, 1]

In [219]:
def remove_duplicate(l):
  """
  Remove duplicate 
  Parameters
  ----------
  l : list
    A list possibly containing duplicate elements
  Returns
  -------
  list
    A list containing only unique elements

  Examples
  --------
  >>> remove_duplicate([1, 2, 2, 3, 4, 1])
  [1, 2, 3, 4]
  >>> remove_duplicate([1, 2, 3, 4])
  [1, 2, 3, 4]

  """
  output = list(set(l))
  ##### WRITE YOUR CODE HERE #####

  #### END CODE ####

  
  return output;

In [220]:
remove_duplicate([1,2,3,4])

[1, 2, 3, 4]

In [158]:
'''
def remove_dup(l):
  out =set(l)
  return out
 '''

<font  color="olive"> <b> Question 12</b><br/></font>
Create a class to represent matrix with the following properties.

* Initializer should accept three optional parameters
    * rows => int: number of rows
    * cols => int: number of columns of matrix
    * matrix => list: nested list
* If matrix parameter is None:
   * The rows and cols should be given, if they are not given raise Exception.
   * Create `__matrix` attribute of nested list with given number of rows and columns
   
   * All elements of the `__matrix` should be zero
* If matrix paramter is not None
  * Check if it is nested list, otherwise raise exception.
  * You should check if the all inner lists have the same size and  numeric datatype
  * Ignore the rows and cols parameters
* Create `__rows` attribute to be the number of rows of `__matrix`
* Create `__cols` attribute to be the number of columns of `__matrix`